@model Nhom15_QLKho.Models.LoaiHangHoa
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sửa Hàng Hóa</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="TenLoai">Tên Loại</label>
        <input asp-for="TenLoai" class="form-control" />
        <span asp-validation-for="TenLoai" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Cập Nhật</button>
</form>
