@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="HangHoaManager">Admin Dashboard</a>

    @if (!string.IsNullOrEmpty(User.Identity?.Name))
    {
        string displayName = User.Identity.Name.Length > 10 ? User.Identity.Name.Substring(0, 10) + "..." : User.Identity.Name;
        <a style="display: inline-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            @displayName
        </a>
    }

    <form style="display:inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Kho", new { area = "" })">
        <button style="display:inline-block; padding: 0; font-size: 14px" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
}
else
{
    <a style="display: inline-block; margin-right: 16px" asp-area="Identity" asp-page="/Account/Register">Đăng Ký</a>
    <a style="display: inline-block" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
}

