@model Nhom15_QLKho.Models.PhieuXuatKho // Replace YourNamespace.Kho with the actual namespace and class name of your Kho model

<!-- Your existing HTML content -->

<h2>PhieuXuatKho Completed</h2>

<h3> Chi tiet PhieuXuatKho </h3>
<p>PhieuXuatKho ID: @Model.Id</p>
<p>PhieuXuatKho Date: @Model.NgayXuat</p>
<p>Shipping Address: @Model.Address</p>
<p>Note: @Model.Notes</p>


<!-- Your remaining HTML content -->
